@import "tailwindcss";

@theme {
  --shadow-3xl: 0 30px 30px -1px rgba(30, 45, 70, 0.05);
  --shadow-4xl: 0 16px 32px rgba(0, 0, 0, 0.02), 0 8px 72px rgba(0, 0, 0, 0.08);
  --container-8xl: 1384px;
  --font-dana: "dana", tahoma;
  --font-dana--font-feature-settings: "ss02";
  --animate-fadeInUp: fadeInUp 0.3s;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}
.swiper-pagination-bullet {
  @apply !opacity-100;
}
.lagom-red {
  background: #fb2c36 !important;
}
.lagom-green {
  background: #00c951 !important;
}
.lagom-blue {
  background: #2b7fff !important;
}
.lagom-purple {
  background: #ad46ff !important;
}
.lagom-orange {
  background: #ff6900 !important;
}
.swiper-pagination-bullet-active {
  @apply ring-blue-500 transition-all;
}
.ext-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-transparent rounded-md border-2 border-zinc-600 size-3 transition-all;
}
.ext-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply bg-blue-600 w-6 h-3 border-none;
}
.background-gradient {
  position: absolute;
  top: 90%;
  left: 40%;
  width: 150vw;
  height: 1000px;
  transform: translate3d(-50%, -50%, 0px);
  mask-image: radial-gradient(
    farthest-side at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    90deg,
    rgb(194, 207, 227),
    rgba(148, 239, 183, 1)
  );
  filter: hue-rotate(0deg);
}
.background-gradient-pattern {
  position: absolute;
  inset: 0px;
  background-image: url(/guilloche.svg);
  background-position: right top;
  background-size: 20px, 20px;
  mix-blend-mode: overlay;
}
